[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ForTesting Process
[access "refs/*"]
	owner = group user/maheshbabu724
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/maheshbabu724
	label-Verified = -1..+1 group user/maheshbabu724
	push = group user/maheshbabu724
	read = group user/maheshbabu724
	rebase = group user/maheshbabu724
	removeReviewer = group user/maheshbabu724
	submit = group user/maheshbabu724
[access "refs/heads/*"]
	create = group user/maheshbabu724
	push = +force group user/maheshbabu724
	pushMerge = group user/maheshbabu724
	read = group user/maheshbabu724
[access "refs/tags/*"]
	push = group user/maheshbabu724
	push = +force group user/maheshbabu724
